RewriteEngine On

# Private address for local development and testing.
RewriteCond %{HTTP_HOST} !^10\.0\.1\.2$
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Setting DirectoryIndex prevents net::ERR_INCOMPLETE_CHUNKED_ENCODING errors on main page.
DirectoryIndex index.php
FallbackResource /index.php
Options -Indexes
