@import url(//fonts.googleapis.com/css?family=Montserrat:400|Raleway:300,400,600|Inconsolata);

body {
    padding-top: 50px;
    font-family: Raleway, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-size: 1.6rem;
    background-color: #000000;
    color: #cccccc;
}

body>div.container {
    background-color: #303030;
    min-height: 100%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}

a {
    color: #30ccff;
}

a:hover {
    color: #ff30ff;
}

.well {
    background-color: #cccccc;
    color: #303030;
}

.well a {
    color: #303030;
}

.well a:hover {
    color: #606060;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
}

h1 {
  letter-spacing: -3px;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2.0rem;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 1.8rem;
    }
}

h2 {
  letter-spacing: -1px; }

h3 {
  letter-spacing: -1px; }

h1 + h2 {
  margin: -0.5rem 0 2rem 0;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300; }
  @media only all and (min-width: 48em) and (max-width: 59.938em) {
    h1 + h2 {
      font-size: 1.6rem; } }
  @media only all and (max-width: 47.938em) {
    h1 + h2 {
      font-size: 1.5rem; } }

body {
    padding-top: 50px;
}

.mainheader,.introduction {
    text-align: center;
}

.navbuttoncontainer {
    text-align: center;
}

.signature {
    font-style: italic;
}

.video-container {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.video-container-16-9 {
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* The normal YouTube embedding size is 560x315 */
@media only screen and (min-width: 620px) {
    .video-container {
        vertical-align: middle;
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 560px;
        height: 315px;
    }

    .video-container-16-9 {
        padding-bottom: 0px;
    }

    .video-container iframe {
        width: 560px;
        height: 315px;
    }
}

pre {
    background-color: #606060;
    color: #ffffff;
}

code {
    background-color: #606060;
    color: #ffffff;
}
