div.share-buttons{
    text-align: center;
}

ul.share-buttons{
    display: inline-table;
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons img{
    width: 32px;
    margin-left: 1px;
    margin-right: 1px;
}

.postmetadata {
    font-style: italic;
    font-size: 1.2rem;
    word-spacing: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.postmetadata > a {
    word-spacing: 0px;
}

h1 {
    text-align: center;
}

h1 + h2 {
    font-size: 2.0rem;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.pager li>a, .pager li>span {
    background-color: #cccccc;
    border-color: #606060;
    color: #303030;
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {    
    background-color: #cccccc;
    border-color: #606060;
    color: #a0a0a0;
}

#disqus_thread {
    margin-left: 5%;
    margin-right: 5%;
}

article {
    text-align: justify;
}

article img {
    clear: right;
    float: right;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 0px;
    transition: margin 0.3s ease-out;
}

@media only screen and (max-width: 1000px) {
    article img {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    article img {
        float: none;
        display: block;
        margin-left: 0px;
    }
}

div.contactnote {
    text-align: center;
    line-height: 1rem;
    padding-top: 0.4em;
}

.disclaimer {
    font-size: 0.8rem;
    color: #ff3060;
}
