div.share-buttons {
    text-align: center;
}

ul.share-buttons {
    display: inline-table;
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons img {
    margin-left: 1px;
    margin-right: 1px;
    width: 32px;
}

.postmetadata {
    font-style: italic;
    font-size: 1.2rem;
    word-spacing: 0.5em;
}

.postmetadata > a {
    word-spacing: 0px;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

h1 + h2 {
    font-size: 3.0rem;
    margin-bottom: 30px;
    margin-top: -30px;
}

.pager li>a, .pager li>span {
    background-color: #cccccc;
    border-color: #606060;
    border-radius: 5px;
    color: #303030;
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {    
    background-color: #cccccc;
    border-color: #606060;
    color: #a0a0a0;
}

article {
    text-align: justify;
}

/* This makes paragraphs beside a floating image more reasonably wide. */
article p:before {
    content: "";
    display: block;
    overflow: hidden;
    width: 12em;
}

article img {
    border-radius: 5px;
    clear: none;
    float: right;
    margin: 10px 0 10px 20px;
    max-width: 100%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
}


@media only screen and (max-width: 991px) {
    article img {
        display: block;
        float: none;
        left: 50%;
        margin: 2rem 0;
        position: relative;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

/* This spreads images more evenly across a page. */
article > p > a:nth-child(2) > img {
    clear: both;
}

article br {
    clear: both;
    content: "";
    display: block;
}

br.panorama+img, br.panorama+a>img {
    display: block;
    left: 50%;
    margin: 4rem 0;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
}

div.to-top-button-container {
    margin-top: -2.2rem;
    text-align: center;
}

div.to-top-button-container>a {
    cursor: pointer;
    font-size: 5rem;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

div.contactnote {
    text-align: center;
    padding: 20px 5px;
}

.disclaimer {
    color: #ff3060;
}

#disqus_thread {
    margin-left: 5%;
    margin-right: 5%;
}

div.license {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
