div.share-buttons{
    text-align: center;
}

ul.share-buttons{
    display: inline-table;
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons img{
    width: 32px;
    margin-left: 1px;
    margin-right: 1px;
}

.postmetadata {
    font-style: italic;
    font-size: 1.2rem;
    word-spacing: 1em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

h1 {
    text-align: center;
}

.footnote {
    text-align: center;
}

.pager li>a, .pager li>span {
    background-color: #cccccc;
    border-color: #606060;
    color: #303030;
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {    
    background-color: #cccccc;
    border-color: #606060;
    color: #a0a0a0;
}

#disqus_thread {
    margin-left: 5%;
    margin-right: 5%;
}
